@import url("../fonts/league/stylesheet.css");
@import url("../fonts/glacial/stylesheet.css");
body {
  background-color: #d10000;
  margin: 0;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 8px;
  background: #000; }

::-webkit-scrollbar-thumb {
  background: #d10000; }

.nav-hide {
  display: none;
  opacity: 1;
  transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -webkit-transition: opacity .6s ease-in-out; }

.nav-show {
  display: block;
  position: fixed;
  background: #000;
  height: auto;
  width: 100%;
  padding: 0 10px;
  transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -webkit-transition: opacity .6s ease-in-out;
  line-height: 4vh;
  z-index: 1; }
  .nav-show .brand-logo img {
    width: 100px;
    height: auto;
    padding: 5px; }
  @media only screen and (max-width: 600px) {
    .nav-show .brand-logo {
      display: none; } }
  .nav-show .nav {
    float: right;
    margin: 0 20px;
    clear: both;
    margin: 0 auto;
    padding: 0; }
    .nav-show .nav .list {
      display: inline-block;
      font-family: "League Spartan";
      text-transform: uppercase;
      margin: 15px 0; }
      .nav-show .nav .list a {
        text-decoration: none;
        color: #d10000;
        padding: 10px;
        transition: 0.3s background-color; }
        .nav-show .nav .list a:hover {
          background-color: #d10000;
          color: #fff; }
        @media only screen and (max-width: 600px) {
          .nav-show .nav .list a {
            font-size: 10px; } }
      @media only screen and (max-width: 600px) {
        .nav-show .nav .list {
          margin: 5px 0; } }
  @media only screen and (max-width: 600px) {
    .nav-show {
      padding: 0; } }

#banner .banner {
  background-color: #000;
  width: 100vw;
  height: 100vh; }
  #banner .banner .title {
    padding: 25vh 0; }
    #banner .banner .title h1, #banner .banner .title h4 {
      text-align: center;
      color: #d10000;
      margin: 0;
      font-family: "League Spartan";
      text-transform: uppercase; }
    #banner .banner .title h1 {
      font-size: 10vw; }
    #banner .banner .title h4 {
      font-size: 2vw; }
    @media only screen and (max-width: 600px) {
      #banner .banner .title {
        padding: 45vh 0; } }

#frase {
  height: 100vh; }
  #frase .frase .frase-box {
    padding-top: 40vh; }
    #frase .frase .frase-box .frase-text {
      font-family: "League Spartan";
      text-transform: uppercase;
      text-align: center;
      font-size: 75px;
      color: #fff; }
      @media only screen and (max-width: 600px) {
        #frase .frase .frase-box .frase-text {
          font-size: 20px; } }
    #frase .frase .frase-box .autor {
      font-family: "Glacial Indifference";
      text-transform: uppercase;
      text-align: center;
      margin-right: 6vw;
      margin-top: -5vh;
      font-size: 20px; }
      @media only screen and (max-width: 600px) {
        #frase .frase .frase-box .autor {
          margin-top: -2vh;
          font-size: 15px;
          margin: 0 auto; } }

#portfolio {
  height: auto;
  padding: 10vh 0;
  background-color: #fff; }
  #portfolio .portfolio {
    -webkit-column-count: 2;
    column-count: 2; }
    #portfolio .portfolio .img {
      display: block;
      margin: 0 auto;
      width: 40vw;
      height: auto; }
    #portfolio .portfolio .port-title {
      font-family: "League Spartan";
      text-transform: uppercase;
      text-align: center;
      color: #d10000;
      margin: 0;
      font-size: 2vw; }
    #portfolio .portfolio .port-text {
      font-family: "Glacial Indifference";
      text-align: center;
      color: #000;
      margin: 2% 20%; }
    #portfolio .portfolio .port-btn {
      display: block;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "League Spartan";
      width: 30%;
      background-color: #d10000;
      color: #fff;
      padding: 2% 0;
      transition: 1s background-color; }
      #portfolio .portfolio .port-btn:hover {
        background-color: #000;
        color: #d10000; }
    @media only screen and (max-width: 600px) {
      #portfolio .portfolio {
        column-count: 1; }
        #portfolio .portfolio .img {
          width: 80vw;
          padding: 1vh 0; }
        #portfolio .portfolio .port-title {
          font-size: 5vw; }
        #portfolio .portfolio .port-text {
          margin: 2% 10%; }
        #portfolio .portfolio .port-btn {
          width: 80%; } }

#contato {
  height: auto;
  background-color: #b70000;
  padding: 25vh 0; }
  #contato .arrow {
    padding: 5vh 0;
    width: 100vw;
    text-align: center; }
    #contato .arrow .arrow-up {
      margin: 0 auto;
      color: #fff;
      border: 1px solid #fff;
      padding: 10px;
      border-radius: 6px;
      transition: 0.3s background-color; }
      #contato .arrow .arrow-up:hover {
        background-color: #fff;
        color: #000; }
  #contato .desc {
    font-family: "League Spartan";
    text-align: center;
    color: #fff;
    text-transform: uppercase; }
    #contato .desc .contato-desc {
      margin: 0;
      font-size: 50px; }
      @media only screen and (max-width: 600px) {
        #contato .desc .contato-desc {
          font-size: 25px; } }
    #contato .desc .contato-sub {
      font-family: "Glacial Indifference";
      font-weight: lighter;
      margin: 1vh 0; }
      @media only screen and (max-width: 600px) {
        #contato .desc .contato-sub {
          font-size: 15px; } }
    #contato .desc .contato-form {
      margin: 0 auto;
      width: 50%; }
      #contato .desc .contato-form .contato-email {
        width: 65%;
        padding: 1vh;
        border: none;
        font-family: "Glacial Indifference";
        text-transform: uppercase; }
        #contato .desc .contato-form .contato-email::placeholder {
          font-family: "Glacial Indifference";
          text-transform: uppercase; }
          @media only screen and (max-width: 600px) {
            #contato .desc .contato-form .contato-email::placeholder {
              text-align: center; } }
      #contato .desc .contato-form .contato-submit {
        width: 30%;
        float: right;
        padding: 1vh;
        border: none;
        font-family: "League Spartan";
        text-transform: uppercase;
        transition: 0.3s background-color; }
        #contato .desc .contato-form .contato-submit:hover {
          background-color: #000;
          color: #d10000; }
      @media only screen and (max-width: 600px) {
        #contato .desc .contato-form {
          width: 100%;
          margin: 0 1%; }
          #contato .desc .contato-form .contato-email {
            width: 80%; }
          #contato .desc .contato-form .contato-submit {
            float: none;
            margin: 2% 0; } }
  #contato .social {
    font-family: "League Spartan";
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    text-transform: uppercase; }
    #contato .social a {
      text-decoration: none;
      color: #fff;
      margin: 0 1vw;
      border: 1px solid #fff;
      padding: 10px;
      border-radius: 6px;
      transition: 0.3s background-color; }
      #contato .social a:hover {
        background-color: #fff;
        color: #000; }

.footer {
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  background-color: #000;
  color: #d10000;
  font-family: "Glacial Indifference";
  padding: 1px 0; }
  .footer .container {
    margin: 0 30px; }
    .footer .container p {
      text-align: center; }

/*# sourceMappingURL=main.css.map */
