@import url('../fonts/league/stylesheet.css');
@import url('../fonts/glacial/stylesheet.css');

$default-font: 'League Spartan';
$sec-font: 'Glacial Indifference';


//Sizes

$desktop-width: 1200px;
$desktop-lg-width: 2559px;
$mobile-width: 600px;
$mobile-xs-width: 357px;
$nav-height: 70px;