@import '_variables';

body {
    background-color: #d10000;
    height: 2000px;
    margin: 0;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 10px;
}

.nav-hide {
    display: none;
    opacity: 1;
    transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -webkit-transition: opacity .6s ease-in-out;
}

.nav-show {
    display: block;
    position: fixed;
    background: #000;
    height: auto;
    width: 100%;
    padding: 0 10px;
    transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -webkit-transition: opacity .6s ease-in-out;
    .brand-logo {
        img {
            width: 100px;
            height: auto;
            padding: 5px 0 0 0;
        }
    }
    .nav {
        float: right;
        margin: 0 20px !important;
        .list {
            display: inline-block;
            font-family: $default-font;
            text-transform: uppercase;
            margin: 15px 0;
            a {
                text-decoration: none;
                color: #d10000;
                padding: 10px;
                transition: 0.3s background-color;
                &:hover {
                    background-color: #d10000;
                    color: #fff;
                }
            }
        }
    }
}

#banner {
    .banner {
        background-color: #000;
        width: 100vw;
        height: 100vh;
        .title {
            padding-top: 25vh;
            h1, h4 {
                text-align: center;
                color: #d10000;
                margin: 0;
                font-family: $default-font;
                text-transform: uppercase;
            }
            h1 {
                font-size: 10vw;
            }
            h4 {
                font-size: 2vw;
            }
        }
    }
}

#frase {
    .frase {
        
        .frase-box {
            margin-top: 50vh;
            .frase-text {
                font-family: $default-font;
                text-transform: uppercase;
                text-align: center;
                font-size: 500%;
                color: #fff;
            }
            .autor {
                font-family: $sec-font;
                text-transform: uppercase;
                text-align: right;
                margin-right: 6vw;
                margin-top: -7vh;
                font-size: 2vw;
            }
        }
    }
}